@use '../../SCSS/utils/functions' as *;

//@mixin popupContainer {
//  display: flex;
//  align-items: center;
//  padding-inline: calcRem(30);
//  position: absolute;
//  left: 0;
//  background-color: var(--color-popup-bg);
//}
