@use '../../SCSS/layout/screen-size' as *;
@use '../../SCSS/utils/functions' as *;

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  @include breakpoint(tablet) {
    gap: calcRem(32);
    justify-content: center;
    padding: calcRem(60) calcRem(64);
    width: calcRem(504);
    height: calcRem(520);
    border-radius: calcRem(36);
    box-shadow: 0 calcRem(15) calcRem(60) 0 hsla(0, 0%, 0%, 0.25);
  }


  &__content {
    display: flex;
    flex-direction: column;
    gap: calcRem(32);
    padding-block-start: calcRem(149);
    padding-inline: calcRem(24);

    @include breakpoint(tablet) {
      padding-block-start: 0;
      padding-inline: 0;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding-inline: calcRem(24);
    padding-block-end: calcRem(70);

    @include breakpoint(tablet) {
      padding-inline: 0;
      padding-block-end: 0;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-button-modal-bg);
      color: var(--color-button-modal-text);
      width: 100%;
      border-radius: 8px;
      height: calcRem(56);
      font-size: var(--font-size-button-modal-text);
      font-weight: var(--font-weight-button-modal-text);

   }
  }
}